* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: medium none;
}

.sectionMain {
  background-color: #130017;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.circuleDiv {
  background-color: rgba(110, 102, 120, 0.74);
  width: 904px;
  height: 886px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyCalculator {
  background-color: #0C0C0C;
  width: 391px;
  height: 823px;
  border-radius: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 100px -5px 118px -10px rgba(41, 168, 255, 0.72);
}

.mainButton, .mainButton--multiplicador, .mainButton--largeButton, .mainButton--zero, .mainButton--secondary, .mainButton--purple {
  background-color: #363035;
  height: 67px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: #29A8FF;
  font-size: 32px;
  cursor: pointer;
}
.mainButton--purple {
  color: #FFFFFF;
  background-color: #740076;
}
.mainButton--secondary {
  color: #A5A5A5;
  background-color: #4B4B4B;
  font-size: 24px;
}
.mainButton--zero {
  height: 68px;
  width: 144px;
}
.mainButton--largeButton {
  height: 96px;
  width: 62px;
}
.mainButton--multiplicador {
  display: flex;
  justify-content: center;
}

.contentMainButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 236px;
}

.buttonsOperations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin: 22px;
}

.symbolScreen {
  color: #29A8FF;
  font-size: 35px;
  font-weight: bold;
}

.classButtons {
  display: flex;
  justify-content: center;
}

.operatorsRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 9px;
}

.panelResult {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
}

.colorInput, .colorInput--operaciones, .colorInput--resultado {
  background-color: transparent;
  border-color: transparent;
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: right;
}
.colorInput--resultado {
  color: #FFFFFF;
  font-size: 48px;
  max-width: 200px;
}
.colorInput--operaciones {
  color: #818181;
  font-size: 24px;
}

/*# sourceMappingURL=styles.css.map */
