.sectionMain {
  background-color: #130017;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.circuleDiv {
  background-color: rgba(110, 102, 120, 0.74);
  width: 904px;
  height: 886px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}