.bodyCalculator {
  background-color: #0C0C0C;
  width: 391px;
  height: 823px;
  border-radius: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 100px -5px 118px -10px rgba(41, 168, 255, 0.72)
}