.mainButton {
  background-color: #363035;
  height: 67px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  color: #29A8FF;
  font-size: 32px;
  cursor: pointer;

  &--purple {
    @extend .mainButton;
    color: #FFFFFF;
    background-color: #740076;
  }

  &--secondary {
    @extend .mainButton;
    color: #A5A5A5;
    background-color: #4B4B4B;
    font-size: 24px;
  }

  &--zero {
    @extend .mainButton;
    height: 68px;
    width: 144px;
  }

  &--largeButton {
    @extend .mainButton;
    height: 96px;
    width: 62px;
  }

  &--multiplicador {
    @extend .mainButton;
    display: flex;
    justify-content: center;
  }
}

.contentMainButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 236px;
}

.buttonsOperations {
  // margin-bottom: 22px;
  // display: flex;
  // flex-wrap: wrap;
  // gap: 20px;
  // width: 308px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
  margin: 22px;
}

.symbolScreen {
  color: #29A8FF;
  font-size: 35px;
  font-weight: bold;
}

.classButtons {
  display: flex;
  justify-content: center;
}

.operatorsRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-left: 9px; //new
}

.panelResult {
  // grid-column: 1 / -1;
  // padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // margin: 10px 10px 60px 10px;
  color: #fff;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
}

.colorInput {
  background-color: transparent;
  border-color: transparent;
  font-size: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: right;

  &--resultado {
    @extend .colorInput;
    color: #FFFFFF;
    font-size: 48px;
    max-width: 200px;
  }

  &--operaciones {
    @extend .colorInput;
    color: #818181;
    font-size: 24px;
  }

}
